<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.foodie.app">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodie"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".ViewReport"
            android:exported="true" />
        <activity
            android:name=".order_info"
            android:exported="true" />
        <activity
            android:name=".VerifyOTP"
            android:exported="true" />
        <activity
            android:name=".forgotPassword"
            android:exported="true" />
        <activity
            android:name=".Payment"
            android:exported="true" />
        <activity
            android:name=".ConfirmDetails"
            android:exported="true" />
        <activity
            android:name=".CustomerView"
            android:exported="true" />
        <activity
            android:name=".RecyclerViewNav"
            android:exported="true" />
        <activity
            android:name=".Update_Profile"
            android:exported="true" />
        <activity
            android:name=".UserProfile"
            android:exported="true" />
        <activity
            android:name=".UserRegisteration"
            android:exported="true" />
        <activity
            android:name=".ChefPhoneLogin"
            android:exported="true" />
        <activity
            android:name=".EmailLogin"
            android:exported="true" />
        <activity
            android:name=".SelectLogin"
            android:exported="true"
            android:parentActivityName=".EmailLogin" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>